.inline-block
  %img{ src: "https://s3.amazonaws.com/erinrademacher.com/about.jpg", width: "347", height: "520", alt: "" }
.inline-block.about
  %p
    Erin Mahoney graduated with a Bachelor of Fine Arts degree in Professional Photographic Illustration from the Rochester Institute of Technology. She specialized in studio photography and taught photography classes in Rochester, New York before moving out west to sunny San Francisco, California.
  %p
    She is now attending the Academy of Art University and dedicating her time to obtaining her Master of Fine Arts degree in Photography. After graduation, she aspires to teach in a university setting. In the meantime, she
    %a{ href: "http://www.mistakesandmalarkey.blogspot.com", target: "_blank" } blogs
    on matters of the heart and on her cat, Connor.
