%img{ src: "https://s3.amazonaws.com/erinrademacher.com/contact.jpg", height: "420", width: "780" }
.inline-block.contact
  %p
    Email:
    %a{ href: "", id: "email" }
    %br
    %span
      Phone:
    %a{ href: "", id: "phone" }
    %br
    Blog:
    %a{ href: "http://www.mistakesandmalarkey.blogspot.com", target: "_blank" }
      Mistakes &amp; Malarkey
